NODE_ENV=your_node_env
WELCOME_MSG=your_welcome_message


DATABASE_URL=your_database_url


PORT=your_port
FRONTEND_URL=your_frontend_url


JWT_ACCESS_SECRET=your_jwt_access_secret_expire_in_time
JWT_REFRESH_SECRET=your_jwt_refresh_secret_expire_in_time
JWT_ACCESS_EXPIRES_IN=your_jwt_access_expire_in_time
JWT_REFRESH_EXPIRES_IN=your_jwt_access_expire_in_time