NODE_ENV=your_node_env
WELCOME_MSG=your_welcome_message


DATABASE_URL=your_database_url


PORT=your_port
FRONTEND_URL=your_frontend_url


JWT_ACCESS_SECRET=your_jwt_access_secret_expire_in_time
JWT_REFRESH_SECRET=your_jwt_refresh_secret_expire_in_time
JWT_ACCESS_EXPIRES_IN=your_jwt_access_expire_in_time
JWT_REFRESH_EXPIRES_IN=your_jwt_access_expire_in_time


BCRYPT_SALT_ROUND=your_bcrypt_salt_round


REDIS_USER= your_redis_user
REDIS_PASSWORD= your_redis_password
REDIS_HOST= your_redis_host
REDIS_PORT= your_redis_port
OTP_EXPIRY=your_otp_expiry_in_seconds


CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret


BKASH_BASE_URL= your_bkash_base_url
BKASH_USERNAME= your_bkash_username
BKASH_PASSWORD= your_bkash_password
BKASH_APP_KEY= your_bkash_app_key
BKASH_APP_SECRET= your_bkash_app_secret
BKASH_CALLBACK_URL= your_bkash_callback_url
